main{
     max-width: 1055px;
     margin-left: 300px;
 }
.event-text{
    margin-left: -40px;
}

.event{
    display: flex;
    flex-wrap: wrap;

    &__images{
        max-width: 250px;
        padding: 5px;
    
        &:hover{    
            transform: scale(2);
        }
}
}




