@import "_variables";

*{
    box-sizing: border-box;
}

html{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    & h1{
        font-size: 3rem;
        margin-top: 43px;
        color: $text-colour;
    }   
    & h2{
       font-size: 1.3rem;
       color: $text-colour;
    }
    & li{
        list-style: none;        
    }
    & button{
        height: 30px;
        width: 100px;

        &:hover{
            background-color: $text-colour;
            color: white;
        }

    }
 }

 .aside{
    position: fixed;
    top: 50px;
    left: 50px;  
    font-size: 1.3rem;
    background-color: $bg-colour;
    & ul{
        padding: 0;
        margin: 0;
    }
    
    & a{
        text-decoration: none;
        display: block;
        padding: 27px;
        text-align: center;
        color: $text-colour;
        }

    & a:hover{
        background-color: $text-colour;
        color: white;
    }
    }
    
    @media (max-width:1682px) {
   
    .aside{
        font-size: 1.3rem;
        position: absolute;
        top: 0;
        width: 100vh;
        background-color: $bg-colour;
        &__menu{

            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

        // & li{
            
        // }

        // & ul{
        //     padding: 0;
        //     margin: 0;
        // }
        // & a{
            
        //     padding: 10px;
            
        //     }    
        // }
        
   }

    





