@import "_variables";

*{
    box-sizing: border-box;
}

html{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    & h1{
        font-size: 3rem;
        margin-top: 43px;
        color: $text-colour;
    }   
    & h2{
       font-size: 1.3rem;
       color: $text-colour;
    }
    & li{
        list-style: none;        
    }
    & button{
        height: 30px;
        width: 100px;

        &:hover{
            background-color: $text-colour;
            color: white;
        }

    }
 }

 .navbar{
    position: fixed;
    top: 50px;
    left: 50px;  
    font-size: 1.3rem;
    background-color: $bg-colour;
    
    & ul{
        padding: 0;
        margin: 0;
        }
    
    & a{
        text-decoration: none;
        display: block;
        padding: 27px;
        text-align: center;
        color: $text-colour;
        }

    & a:hover{
        background-color: $text-colour;
        color: white;
    }
    }
    
  @media (max-width:$bg-pixel) {  
  .navbar{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color:$bg-colour;

      & a{
        float:left;
        padding: 10px;
        width: 25%;
        margin: 0;
        }
      }
  }

  @media (max-width:$md-pixel) {  
    .navbar{

        & a{
          font-size: 1rem;
          }
        }
    }
        
    @media (max-width:$sm-pixel) {  
        .navbar{
            
            & a{
              font-size: 0.8rem;
              }
            }
        }

    





