header {
    text-align: center;
}

 .main-container {
    max-width: 1300px;
    margin: 0 auto;
}

.front-image{
    width: 92%;
    height: auto;
    margin-bottom: 24px;
}

.container{
    display: flex;
    flex-wrap: wrap;

    &__article{
        flex: 1;
        padding: 12px;
    }

    &__article__image{
        
        padding-left: 40px;

        &:hover{
            transition: 200ms;    
            transform: scale(01.1);
        }
    }   
}


