html{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    & h1{
        font-size: 3rem;
    }   
    & li{
        list-style: none;
    }
}

header {
    text-align: center;
}

 .main-container {
    max-width: 1300px;
    margin: 0 auto;
}

.front-image{
    width: 92%;
    height: 800px;
    margin-bottom: 24px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 12px;

    &__article{
        flex: 1;
        min-width: 300px;
        min-height: 200px;
        padding: 12px;

    }

    &__article__image{
        
        padding-left: 40px;
        &:hover{    
            transform: scale(01.1);
        }
    }
    
}

.aside{
    position: fixed;
    top: 50px;
    left: 50px;  
    font-size: 1.3rem;
    &__menu{
        display: block;
        background-color: #f7f7f7;
        padding: 16px 48px 16px 0px;
        }
    }


