html{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

    & h1{
        font-size: 3rem;
    }   
    & li{
        list-style: none;
    }
    
}




.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.front-image{
    width: 980px;
}


.main-container{
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin-left:284px;
    flex-wrap: wrap;
    
    &__article__image{
        
        padding-left: 40px;
        &:hover{    
            transform: scale(01.01);
        }
    }
 
    &__event-list{
        display: flex;
        width: 300px;
        flex-direction: column;   
    }
        
}

.aside{
    position: fixed;
    top: 50px;
    left: 50px;  
    &__menu{
        display: block;
        background-color: #f7f7f7;
        padding: 16px 48px 16px 0px;
        }
    }


